.page {
  font-family: "Inter Tight", sans-serif;
  background-color: #121212;
  color: #eaeff2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

.mainContent {
  width: 100%;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.mainContentLeft {
  width: 50%;
  padding: 50px 100px;
}
.mainContentLeft p {
  width: 100%;
}

.heroRight {
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-right: 100px;
}

.imagesWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.imageContainer {
  position: relative;
  width: 50%;
  height: 100%;
}

.image {
  object-fit: cover;
  border-radius: 8px;
}

.contacts {
  width: 800px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
}

.footer {
  display: flex;
  position: fixed;
  width: 47%;
  right: 0;
  bottom: 0;
  margin-bottom: 50px;
  margin-right: 100px;
}

.footer nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  width: 100%;
}

.footer nav li {
  font-size: 50px;
}

.footer nav li:hover {
  /* color: 
  /* text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8); */
  border-bottom: 1px solid #eaeff2;
  cursor: pointer;
}

.bandeAboutme {
  width: 100%;
  height: 70px;
  margin: 50px 0;
  font-size: 30px;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.bandeAboutme p {
  animation: slideText 10s linear infinite;
  display: inline-block;
  font-size: 60px;
}

.imagesWrapperResponse {
  display: none;
}

@keyframes slideText {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(100vw);
  }
}

@media screen and (max-width: 1400px) {
  .mainContentLeft {
    width: 100%;
    padding: 50px 50px;
    font-size: 30px;
    line-height: 35px;
  }

  .heroRight {
    width: 100%;
    height: auto;
    margin-right: 0; /* Supprimez la marge droite */
    display: flex;
    flex-direction: column;
    padding: 0 50px;
  }

  .imagesWrapper {
    display: flex;
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
    height: 450px;
    margin-bottom: 20px;
  }

  .footer {
    width: 100%;
    position: static; /* Ou relative selon votre préférence */
    margin: 0; /* Supprimez les marges */
    justify-content: center;
  }

  .footer nav li {
    font-size: 35px;
  }
}

/* Responsive Breakpoints */
@media screen and (max-width: 1300px) {
  .mainContentLeft {
    padding: 50px 20px;
    font-size: 25px;
    width: 50%;
  }

  .heroRight {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 50%;
  }

  .footer {
    width: 100%;
  }

  .footer nav li {
    font-size: 30px;
  }

  .bandeAboutme {
    margin: 20px 0;
  }
}

@media screen and (max-width: 1200px) {
  .imagesWrapperResponse {
    display: block;
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
  }

  .imageContainerResp {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .mainContent {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  .mainContentLeft {
    font-size: 25px;
    line-height: 35px;
    width: 100%;
    order: 1; /* Mettre le texte après l'image */
    padding: 0;
  }
  .heroRight {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 100%;
    padding: 0;
    order: 2; /* Mettre le conteneur d'images après le texte */
    margin-bottom: 50px;
  }
  .imagesWrapper {
    display: flex;
    flex-direction: column;
  }
  .imageContainer:nth-child(2) {
    display: none; /* Cacher la deuxième image */
  }
  .imageContainer:first-child {
    width: 100%;
    height: 550px;
    margin-bottom: 20px;
    order: -1; /* Placer la première image avant le texte */
  }
  .bandeAboutme {
    overflow: visible;
    padding: 0 40px;
    text-align: center;
  }
  .bandeAboutme p {
    font-size: 50px;
  }
  .image {
    border-radius: 0;
  }

  .footer {
    height: 150px;
  }

  .footer nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer nav li {
    font-size: 45px;
  }

  /*
  

  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footer nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  */

  .imagesWrapper {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .mainContent {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 20px;
  }
  .mainContentLeft {
    font-size: 20px;
    width: 100%;
  }

  .mainContentLeft p {
    display: flex;
    justify-content: space-between;
  }

  .heroRight {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 100%;
    padding: 0;
  }

  .image {
    object-fit: cover;
    border-radius: 0;
  }

  .bandeAboutme {
    overflow: visible;
    padding: 0 20px;

    text-align: center;
  }

  .bandeAboutme p {
    font-size: 36px;
  }
}

@media screen and (max-width: 768px) {
  .mainContentLeft {
    padding-bottom: 0px;
    margin-bottom: 0;
    background-color: green;
  }

  .main {
    background-color: red;
    padding: 0;
  }
  .footer {
    height: auto;
    padding: 20px 0;
    background-color: yellow;
  }

  .footer nav {
    flex-direction: column;
    gap: 15px;
  }

  .footer nav li {
    font-size: 36px;
  }
}
