.header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 100px;
  list-style: none;
}
.headerLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  font-family: "Gaegu", sans-serif;
}
.headerRight {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerRight p {
  display: flex;
  align-items: center;
}
.pageTitle {
  font-size: 30px;
  filter: blur(0.8);
}
.letsconnect {
  font-size: 50px;
  margin-left: 10px;
}
.letsconnect:hover {
  font-size: 50px;
  filter: blur(0.2);
}

/* Animation pour le défilement */
@keyframes slideRightToLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100vw);
  }
}

/* Responsive */
@media screen and (max-width: 1400px) {
  .header {
    padding: 0 60px;
  }
  .letsconnect {
    font-size: 40px;
  }
  .letsconnect:hover {
    font-size: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 0 40px;
  }
  .letsconnect {
    font-size: 35px;
  }
  .letsconnect:hover {
    font-size: 35px;
  }
  .pageTitle {
    font-size: 28px;
  }
}

@media screen and (max-width: 992px) {
  .header {
    padding: 0 20px;
  }
  .letsconnect {
    font-size: 30px;
  }
  .letsconnect:hover {
    font-size: 30px;
  }
  .pageTitle {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: auto;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .headerLeft {
    width: 100%;
    order: 2; /* Place le headerLeft après le headerRight */
    padding: 15px 20px;
    height: auto;
  }

  .headerRight {
    width: 100%;
    height: 80px;
    order: 1; /* Place le headerRight avant le headerLeft */
    overflow: hidden;
  }

  .headerRight a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
  }

  .pageTitle {
    font-size: 26px;
  }

  .letsconnect {
    font-size: 36px;
    margin: 0;
    white-space: nowrap;
    animation: slideRightToLeft 8s linear infinite;
  }

  .letsconnect:hover {
    font-size: 36px;
    color: #60a5fa;
  }
}
