.header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 100px;
  list-style: none;
}
.headerLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  font-family: "Gaegu", sans-serif;
}
.headerRight {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerRight p {
  display: flex;
  align-items: center;
}
.pageTitle {
  font-size: 30px;
}
.letsconnect {
  font-size: 50px;
  margin-left: 10px;
}
.letsconnect:hover {
  font-size: 50px;
  color: #60a5fa;
}

/* Responsive */
@media screen and (max-width: 1400px) {
  .header {
    padding: 0 60px;
  }
  .letsconnect {
    font-size: 40px;
  }
  .letsconnect:hover {
    font-size: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    padding: 0 40px;
  }
  .letsconnect {
    font-size: 35px;
  }
  .letsconnect:hover {
    font-size: 35px;
  }
  .pageTitle {
    font-size: 28px;
  }
}

@media screen and (max-width: 992px) {
  .header {
    padding: 0 20px;
  }
  .letsconnect {
    font-size: 30px;
  }
  .letsconnect:hover {
    font-size: 30px;
  }
  .pageTitle {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .headerLeft,
  .headerRight {
    height: auto;
  }
  .pageTitle {
    font-size: 28px;
  }
  .letsconnect {
    font-size: 36px;
  }
  .letsconnect:hover {
    font-size: 36px;
  }
}

@media screen and (max-width: 480px) {
  .pageTitle {
    font-size: 24px;
  }
  .letsconnect {
    font-size: 36px;
  }
  .letsconnect:hover {
    font-size: 36px;
  }
}
