.page {
  font-family: "Inter Tight", sans-serif;
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex: 1;
  padding: 80px 0;
}

.workCards {
  width: 100%;
  margin: 20px 0;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.wordCardImageMozilla {
  border: 1px solid white;
  border-radius: 10px;
  width: 600px;
  margin-bottom: 20px;
}

.workCardMozilla {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 100px;
}

.workCard {
  height: 470px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 100px 100px 140px 100px;
}

.workCardTop {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
}

.wordCardLink {
  font-size: 24px;
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}

.wordCardLocation {
  font-size: 24px;
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.6);
}

.design {
  font-size: 20px;
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.6);
}

.wordCardImage {
  border: 1px solid white;
  height: 360px;
  border-radius: 12px;
  margin-bottom: 50px;
}

.contacts {
  width: 800px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  height: 200px;
  padding: 0 50px;
}

.footer nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  width: 40%;
}

.footer nav li {
  font-size: 50px;
  margin: 0 20px;
}

.footer nav li:hover {
  font-size: 50px;
  margin-left: 10px;
  color: #d0cec6;
}

@keyframes slideText {
  0% {
    transform: translateX(-70%); /* Commence complètement à gauche */
  }
  100% {
    transform: translateX(
      calc(100vw + 10%)
    ); /* Va jusqu'à la fin de l'écran + sa largeur */
  }
}

.bande {
  width: 100%;
  height: 70px;
  font-size: 30px;
  display: flex;
  align-items: center;
  overflow: hidden; /* Empêche le texte de dépasser visuellement */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

.bande p {
  animation: slideText 15s linear infinite; /* Défilement fluide */
  display: inline-block; /* Permet d'éviter les comportements inattendus */
}

.bandeSelectedWork {
  width: 100%;
  height: 70px;
  font-size: 30px;
  display: flex;
  align-items: center;
  overflow: hidden; /* Empêche le texte de dépasser visuellement */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

.bandeSelectedWork p {
  animation: slideText 20s linear infinite; /* Défilement fluide */
  display: inline-block; /* Permet d'éviter les comportements inattendus */
  font-size: 60px;
}

.bandeAboutme {
  position: relative;
  width: 100%;
  height: 70px; /* Ajuste la hauteur en fonction de tes besoins */

  overflow: hidden; /* Empêche le texte de déborder */
  padding-top: 10px;
}

.bandeAboutme p {
  position: absolute;
  white-space: nowrap; /* Empêche le texte de se couper */
  font-size: 30px; /* Ajuste la taille du texte selon tes besoins */
  animation: slideEffect 20s linear infinite; /* Animation infinie */
  right: -10%; /* Commence en dehors de l'écran à droite */
  border: 1px solid white;
  padding: 10px 60px;
  border-radius: 50px;
}

.bandeAboutme:hover {
  background-color: white;
  color: black;
  padding-top: 6px;
}

@keyframes slideEffect {
  0% {
    right: -10%; /* Le texte commence à droite, hors de l'écran */
  }
  50% {
    right: 50%; /* Le texte atteint le centre de l'écran */
    transform: translateX(50%); /* Ajuste pour le centrer */
  }
  100% {
    right: 100%; /* Le texte sort complètement à gauche */
  }
}

.bandeContact {
  width: 100%;
  height: 70px;
  font-size: 30px; /* Ajuste la taille du texte selon tes besoins */
  display: flex;
  align-items: center;
  overflow: hidden; /* Empêche le texte de dépasser visuellement */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

.bandeContact p {
  animation: slideText 25s linear infinite; /* Défilement fluide */
  display: inline-block; /* Permet d'éviter les comportements inattendus */
  border: 1px solid white;
  padding: 10px 60px;
  border-radius: 50px;
}

.bandeContact:hover {
  background-color: white;
  color: black;
}
