.page {
  font-family: "Inter Tight", sans-serif;
  background-color: #121212;
  color: #eaeff2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 40px 0;
}

.heroIntro {
  font-size: 80px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.heroLeft {
  width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 100px;
}

.mind {
  font-family: "Gaegu", sans-serif;
  font-style: italic;
}

.leftBottom {
  height: 40%;
  width: 100%;
}

.imageContainerLeft {
  position: relative;
  width: 100%;
  height: 100%;
}

.heroRight {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
}

.imagesWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.imageContainer {
  position: relative;
  width: 50%;
  height: 100%;
}

.image {
  object-fit: cover;
  border-radius: 8px;
}

.section {
  margin: 20px 0;
  padding: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section:hover {
  background-color: #eaeff2;
  color: black;
}

.section span {
  font-size: 50px;
  margin: 0 20px;
}

.section p {
  width: 800px;
  font-size: 30px;
}

.contacts {
  width: 800px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@keyframes slideText {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(calc(100vw + 10%));
  }
}

.bande {
  width: 100%;
  height: 70px;
  font-size: 30px;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.bande p {
  animation: slideText 15s linear infinite;
  display: inline-block;
}

.bandeAboutme {
  width: 100%;
  height: 70px;
  font-size: 30px;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.bandeAboutme:hover {
  background-color: #eaeff2;
  color: black;
}

.bandeAboutme p {
  animation: slideText 20s linear infinite;
  display: inline-block;
  border: 1px solid #eaeff2;
  padding: 10px 60px;
  border-radius: 50px;
}

.bandeSelectedWork {
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
}

.bandeSelectedWork:hover {
  background-color: #eaeff2;
  color: black;
}

.bandeSelectedWork p {
  position: absolute;
  white-space: nowrap;
  font-size: 24px;
  animation: slideEffect 20s linear infinite;
  right: -10%;
  font-size: 30px;
  border: 1px solid #eaeff2;
  padding: 10px 60px;
  border-radius: 50px;
}

@keyframes slideEffect {
  0% {
    right: -10%;
  }
  50% {
    right: 50%;
    transform: translateX(50%);
  }
  100% {
    right: 100%;
  }
}

.bandeContact {
  width: 100%;
  height: 70px;
  font-size: 30px;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.bandeContact:hover {
  background-color: #eaeff2;
  color: black;
}

.bandeContact p {
  animation: slideText 25s linear infinite;
  display: inline-block;
  border: 1px solid #eaeff2;
  padding: 10px 60px;
  border-radius: 50px;
}

.tel:hover {
  cursor: pointer;
  color: #3f3f38;
}

/* Responsive */
@media screen and (max-width: 1600px) {
  .heroIntro {
    font-size: 70px;
  }
}

@media screen and (max-width: 1400px) {
  .heroIntro {
    font-size: 60px;
  }
  .heroLeft {
    padding-left: 60px;
  }
  .heroRight {
    padding-right: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .heroIntro {
    font-size: 50px;
  }
  .heroLeft {
    padding-left: 40px;
  }
  .heroRight {
    padding-right: 40px;
  }
}

/* Tablette */
@media screen and (max-width: 992px) {
  .hero {
    flex-direction: column;
    padding: 20px 0;
  }

  .heroLeft {
    width: 100%;
    padding: 0 20px 40px 20px;
  }

  .heroIntro {
    font-size: 45px;
  }

  .heroRight {
    width: 100%;
    padding: 0;
  }

  .imagesWrapper {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .imageContainer {
    width: 100%;
    height: 450px; /* Hauteur augmentée pour les images */
    margin-bottom: 20px;
  }

  .image {
    border-radius: 0;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .heroIntro {
    font-size: 36px;
  }

  .imageContainer {
    height: 350px;
  }

  .section {
    padding: 30px;
    flex-direction: column;
  }

  .section p {
    width: 100%;
    font-size: 24px;
  }
}

@media screen and (max-width: 576px) {
  .heroIntro {
    font-size: 28px;
  }

  .imageContainer {
    height: 300px;
  }
}
