.page {
  font-family: "Inter Tight", sans-serif;
  background-color: #121212;
  color: #eaeff2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 40px 0;
}

.heroIntro {
  font-size: 80px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.heroLeft {
  width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 100px;
  filter: blur(0.4);
}

.mind {
  font-family: "Gaegu", sans-serif;
  font-style: italic;
}

.experience,
.ears,
.eyes {
  /* Styles pour ces éléments si nécessaire */
}

.heroRight {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
}

.imagesWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.imageContainer {
  position: relative;
  width: 50%;
  height: 100%;
}

.image {
  object-fit: cover;
  border-radius: 8px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* Responsive */
@media screen and (max-width: 1600px) {
  .heroIntro {
    font-size: 70px;
  }
}

@media screen and (max-width: 1400px) {
  .heroIntro {
    font-size: 60px;
  }
  .heroLeft {
    padding-left: 60px;
  }
  .heroRight {
    padding-right: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .heroIntro {
    font-size: 50px;
  }
  .heroLeft {
    padding-left: 40px;
  }
  .heroRight {
    padding-right: 40px;
  }
}

/* Tablette */
@media screen and (max-width: 992px) {
  .hero {
    flex-direction: column;
    padding: 20px 0;
  }

  .heroLeft {
    width: 100%;
    padding: 0 20px 40px 20px;
  }

  .heroIntro {
    font-size: 45px;
  }

  .heroRight {
    width: 100%;
    padding: 0;
  }

  .imagesWrapper {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .imageContainer {
    width: 100%;
    height: 450px;
    margin-bottom: 20px;
  }

  .image {
    border-radius: 0;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .hero {
    padding-top: 10px;
  }
  .heroIntro {
    font-size: 36px;
  }

  .imageContainer {
    height: 350px;
  }
}

@media screen and (max-width: 576px) {
  .heroIntro {
    font-size: 28px;
  }

  .imageContainer {
    height: 300px;
  }
}
