.page {
  font-family: "Inter Tight", sans-serif;
  background-color: #121212;
  color: #eaeff2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.mainRight {
  height: 600px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mainContent {
  width: 100%;
  display: flex;
}

.bandeSelectedWork {
  width: 100%;
  height: 70px;
  font-size: 30px;
  display: flex;
  align-items: center;
  overflow: hidden; /* Empêche le texte de dépasser visuellement */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  margin-top: 100px;
  margin-bottom: 50px;
}

.bandeSelectedWork p {
  animation: slideText 20s linear infinite; /* Défilement fluide */
  display: inline-block; /* Permet d'éviter les comportements inattendus */
  font-size: 60px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

.mainContent {
  width: 100%;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.mainContentLeft {
  width: 50%;
  padding: 50px 100px;
}
.mainContentLeft p {
  width: 100%;
}

.workCards {
  width: 100%;
  margin: 20px 0;
  font-size: 40px;
  line-height: 50px;
  padding: 60px;
  display: flex;
  justify-content: space-around;
}

.workWithList {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 30px;
  width: 50%;
  flex-wrap: wrap;
  list-style: none;
  line-height: 25px;
  padding-left: 100px;
}

.workWithList span {
  font-size: 16px;
  margin-left: 5px;
}

.contacts {
  width: 800px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
}

/*
.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid black;
  position: fixed;
  right: 77px;
  bottom: 60px;
}
  */

.footer {
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
}

.footer nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.liFooter {
  margin: 0 20px;
}

.footer nav li {
  font-size: 50px;
  filter: blur(0.4);
}
.footer nav li:hover {
  /* color: #60a5fa;*/
  /* text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8); */
  border-bottom: 1px solid white;
  cursor: pointer;
}

@keyframes slideText {
  0% {
    transform: translateX(-70%); /* Commence complètement à gauche */
  }
  100% {
    transform: translateX(
      calc(100vw + 10%)
    ); /* Va jusqu'à la fin de l'écran + sa largeur */
  }
}

.bandeAboutme {
  position: relative;
  width: 100%;
  height: 70px; /* Ajuste la hauteur en fonction de tes besoins */

  overflow: hidden; /* Empêche le texte de déborder */
  padding-top: 4px;
}

.bandeAboutme p {
  position: absolute;
  white-space: nowrap; /* Empêche le texte de se couper */
  font-size: 30px; /* Ajuste la taille du texte selon tes besoins */
  animation: slideEffect 20s linear infinite; /* Animation infinie */
  right: -10%; /* Commence en dehors de l'écran à droite */
  border: 1px solid #fdfdfd;
  padding: 10px 60px;
  border-radius: 50px;
}

.bandeAboutme:hover {
  background-color: #fdfdfd;
  color: black;
  padding-top: 3px;
}

@keyframes slideEffect {
  0% {
    right: -10%; /* Le texte commence à droite, hors de l'écran */
  }
  50% {
    right: 50%; /* Le texte atteint le centre de l'écran */
    transform: translateX(50%); /* Ajuste pour le centrer */
  }
  100% {
    right: 100%; /* Le texte sort complètement à gauche */
  }
}

.bandeContact {
  width: 100%;
  height: 70px;
  font-size: 30px;
  display: flex;
  align-items: center;
  overflow: hidden; /* Empêche le texte de dépasser visuellement */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

.bandeContact p {
  animation: slideText 25s linear infinite; /* Défilement fluide */
  display: inline-block; /* Permet d'éviter les comportements inattendus */
  border: 1px solid white;
  padding: 10px 60px;
  border-radius: 50px;
}

.bandeContact:hover {
  background-color: white;
  color: black;
}

/* Responsive */

@media screen and (max-width: 1800px) {
  .footer nav li {
    font-size: 45px;
  }
}

@media screen and (max-width: 1700px) {
  .footer nav li {
    font-size: 40px;
  }
}

@media screen and (max-width: 1600px) {
  .footer nav li {
    font-size: 35px;
  }
}
@media screen and (max-width: 1500px) {
  .footer nav li {
    font-size: 30px;
  }
}

@media screen and (max-width: 1400px) {
  .mainContentLeft {
    width: 100%;
    padding: 50px 50px;
    font-size: 30px;
    line-height: 35px;
  }
}

@media screen and (max-width: 1300px) {
  .mainContentLeft {
    padding: 50px 20px;
    font-size: 25px;
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    padding-left: 0;
  }

  .mainContentLeft {
    padding: 0;
    font-size: 25px;
    width: 50%;
  }

  .mainContent {
    display: flex;
    justify-content: flex-start;
    padding: 50px 20px;
    font-size: 25px;
    width: 100%;
  }
  .workWithList {
    padding-left: 0;

    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 30px;
    width: 100%;
    flex-wrap: wrap;
    list-style: none;
    line-height: 25px;
  }

  .workWithList li {
    margin: 10px 0;
    width: 100%;
  }

  .workWithList span {
    font-size: 16px;
    margin-left: 5px;
  }

  .footer {
    display: flex;
    justify-content: flex-start;
  }

  .footer nav li {
    font-size: 45px;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
  .mainContentLeft {
    font-size: 25px;
    line-height: 35px;
    width: 100%;
    order: 1; /* Mettre le texte après l'image */
    padding: 0;
  }

  .mainRight {
    height: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 100px;
  }

  .liFooter {
    margin: 0;
  }

  .footer {
    height: 150px;
  }

  .footer nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
  }
  .footer nav li {
    font-size: 45px;
  }
}

@media screen and (max-width: 992px) {
  .footer nav li {
    font-size: 38px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    height: auto;
    padding: 20px 0;
  }

  .footer nav {
    flex-direction: column;
  }

  .footer nav li {
    font-size: 36px;
  }
}
